:root, :host {
    --trans-dur: 0.15s;

    --col-light: #FDFBFB;
    --col-midlight: #DDDEEB;
    --col-mid: #8D99AE;
    --col-middark: #94949F;
    --col-dark: #2B2D42;
    --col-accent: #F14F63;

    --col-accent-50: #F14F6380;

    --size-small: 320px;
    --size-med: 480px;
    --size-large: 640px;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(/assets/header_splash.svg), url(/assets/bg_pattern.svg);
    background-repeat: no-repeat, repeat;
    background-position: center top;
    max-height: 100vh;
    overflow-y: hidden;
    color: var(--col-dark);
}

.grad {
    background-image:
        linear-gradient(var(--col-dark) 25%, var(--col-accent-50)),
        linear-gradient(var(--col-middark));
    color: transparent;
    background-clip: text;

    font-weight: 400;
}

.emphasis {
    font-weight: 400;
}

h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: 0.33em;
    margin-right: -0.33em;
    font-family: 'Zen Loop', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(var(--col-dark) 25%, var(--col-accent-50));
    color: transparent;
    background-clip: text;
    text-align: center;
}

h2 {
    margin: 0;
    font-weight: 400;
    width: 100%;
    font-family: 'Zen Loop', sans-serif;
    font-size: 32px;
    background-image: linear-gradient(var(--col-dark), var(--col-mid));
    color: transparent;
    background-clip: text;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Zen Loop', sans-serif;
    font-size: 24px;
    font-weight: 400;

    background-image: linear-gradient(var(--col-dark), var(--col-mid));
    color: transparent;
    background-clip: text;

    @media(hover: hover) and (pointer: fine) {
        &:hover {
            background-image: linear-gradient(var(--col-dark) 25%, var(--col-accent-50));
        }
    }

    &:active {
        background-image:
            linear-gradient(var(--col-dark) 25%, var(--col-accent-50)),
            linear-gradient(#2b2d4200, var(--col-mid));
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
    }
}

img {
    background-color: var(--col-midlight);
    box-sizing: border-box;
    max-width: 100%;

    border: 2px solid transparent;
    background:
        linear-gradient(var(--col-light), var(--col-light)) padding-box,
        linear-gradient(#f14f6333, #8d99ae33) border-box;
    border-radius: 8px;
    max-height: 100px;
    object-fit: contain;
}

ul {
    margin: 0;
    padding-left: 32px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
        font-weight: 200;
    }
}

main {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
}

.pagebody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    min-height: 100vh;
}

card-component {
    align-content: center;
    justify-items: center;
    min-width: min(100%, var(--size-small));
    width: auto;

    &.small::part(card) {
        max-width: var(--size-small);
    }

    &.medium::part(card) {
        max-width: var(--size-med);
    }

    &.large::part(card) {
        max-width: var(--size-large);
    }
}

.pagecard {
    background-color: var(--col-light);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 2px 16px 0px #8D99Ae33, 0px 2px 4px 0px #14152240;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;

    box-sizing: border-box;

    min-width: min(100%, var(--size-small));
    width: min(100%, var(--size-small));

    transition: width var(--trans-dur) ease-out;

    &.show-content {
        transition-delay: var(--trans-dur);
        width: calc-size(auto, size);
        @starting-style {
            width: min(100%, var(--size-small));
        }
    }
}

.card-wrapper {
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-grow: 1;

    box-sizing: border-box;
    width: 100%;

    border: 1px solid transparent;
    background:
        linear-gradient(var(--col-light), var(--col-light)) padding-box,
        linear-gradient(#f14f6333, #8d99ae33) border-box;
}

.card-title {
    height: 64px;
    background-image: url(/assets/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;

    h1 {
        opacity: 0;
        transition: opacity var(--trans-dur) ease-out;
    }

    &.show-content {
        h1 {
            transition-delay: var(--trans-dur);
            opacity: 1;
            @starting-style {
                opacity: 0;
            }
        }
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: height var(--trans-dur) ease-out, opacity var(--trans-dur) ease-out, width var(--trans-dur) ease-out;
    height: 0px;
    overflow-y: clip;
    opacity: 0;
    width: 100%;

    slot[name=body]::slotted(a) {
        font-size: 32px !important;
    }

    slot[name=footer]::slotted(a) {
        padding-top: 12px;
    }

    ::slotted(paragraph-component), ::slotted(bloglink-component), ::slotted(blogheader-component) {
        transition: none;
        opacity: 0;
    }

    &.show-content {
        transition-delay: var(--trans-dur);
        height: calc-size(fit-content, size);
        opacity: 1;

        @starting-style {
            height: 0px;
            opacity: 0;
        }

        ::slotted(paragraph-component), ::slotted(bloglink-component), ::slotted(blogheader-component) {
            transition: opacity var(--trans-dur) ease-out;
            transition-delay: calc(var(--trans-dur) * 2);
            opacity: 1;
            @starting-style {
                opacity: 0;
            }
        }
    }
}

paragraph-component, bloglink-component, blogheader-component {
    width: 100%;
}

.para {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;

    /* slot[name=para-title] {
        font-weight: 400;
    } */

    .para-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 200;
        width: 100%;
    }
}

.bloglink {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;

    .bloglink-head {
        display: flex;
        flex-direction: column;
        gap: 8px;

        ::slotted(a) {
            font-size: 32px !important;
        }

        slot[name=date] {
            color: var(--col-middark);
            font-size: 14px;
            font-weight: 200;
        }
    }

    slot[name=summary] {
        font-weight: 200;
    }

    padding-bottom: 20px;
    border-bottom: 1px solid var(--col-midlight);
}

.blogheader {
    display: flex;
    flex-direction: column;
    gap: 8px;

    slot[name=date] {
        color: var(--col-middark);
        font-size: 14px;
        font-weight: 200;
    }
}
